# Gradle
bin/
build/
run/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

# IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

# destinationPath config
gradle.properties